<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
      <h2 class="active"> HI, WELCOME TO CD-STORE </h2>
      <!-- <h2 class="inactive underlineHover">Sign Up </h2> -->
  
      <!-- Icon -->
      <div class="fadeIn first">
        <img src="../../../assets/icon.png" id="icon" alt="User Icon" />
      </div>
  
      <!-- Login Form -->
      <!-- <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <input type="email" id="login" class="form-control fadeIn second" formControlName="email" placeholder="Login">
        </div>
        <div class="form-group">
          <input type="password" id="password" class="form-control fadeIn third" formControlName="password" name="login"
            placeholder="Password">
        </div>
        <input type="submit" class="fadeIn fourth" value="Log In">
      </form> -->
  
      <!-- Remind Passowrd -->
      <div id="formFooter">
        <a class="underlineHover" href="./admin">Please click to proceed</a>
      </div>
  
    </div>
  </div>
  